include logic/ico.pug
mixin css(src)
    link(rel='stylesheet' href=src+"?"+postfix)

mixin js(src)
    script(src=src+"?"+postfix)
doctype html
//
  Tessellate by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
    head
        title ExoTown
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        <!--[if lte IE 8]>
        script(src='assets/js/ie/html5shiv.js')
        <![endif]-->
        +css('assets/css/main.css')
        +css('css/index.css')
        <!--[if lte IE 8]>
        +css('assets/css/ie8.css')
        <![endif]-->
        <!--[if lte IE 9]>
        +css('assets/css/ie9.css')
        <![endif]-->
        include yametrika.pug
    body
        include main/header.pug

        include main/first.pug

        include main/overview.pug

        include main/token-sale.pug

        include main/faq.pug

        include main/team.pug

        //include main/third.pug
        //include main/fourth.pug

        include main/footer.pug

        include main/contribute-form.pug


    // Scripts
    +js('assets/js/jquery.min.js')
    +js('assets/js/jquery.scrolly.min.js')
    +js('assets/js/skel.min.js')
    +js('js/underscore-min.js')
    +js('assets/js/util.js')
    <!--[if lte IE 8]>
    +js('assets/js/ie/respond.min.js')
    <![endif]-->
    +js('assets/js/main.js')
    +js('js/clipboard.min.js')
    +js('js/main.js')

