include logic/ico.pug
doctype html
//
  Tessellate by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
    head
        title ExoTown
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        //if lte IE 8
          script(src='assets/js/ie/html5shiv.js')
        link(rel='stylesheet', href='assets/css/main.css')
        link(rel='stylesheet', href='css/index.css')
        //if lte IE 8
          link(rel='stylesheet', href='assets/css/ie8.css')
        //if lte IE 9
          link(rel='stylesheet', href='assets/css/ie9.css')
    body
        include main/header.pug

        include main/first.pug

        include main/overview.pug

        include main/token-sale.pug

        // Staff
        include main/second.pug

        //include main/third.pug
        //include main/fourth.pug

        include main/footer.pug

        include main/contribute-form.pug


    // Scripts
    script(src='assets/js/jquery.min.js')
    script(src='assets/js/jquery.scrolly.min.js')
    script(src='assets/js/skel.min.js')
    script(src='assets/js/util.js')
    //if lte IE 8
      script(src='assets/js/ie/respond.min.js')
    script(src='assets/js/main.js')
    script(src='js/main.js')

