- var progressPercents = Math.floor(stats.stageEtherRaised / stageGoal * 1000) / 10;
.row
    div(class="12u")
        h3= ico_crowdsale_stage
            |  starts in
        .ico-counter.ico-progress-terms.mobile-center.narrow-center.normal-left.wide-left
            span.ico-progress-giant.js-ico-counter(data-countdown=ico_countdown)
        .ico-contribute
            div(style="font-size: 0.8em; margin: 2em 0").mobile-center.narrow-center.normal-left.wide-left
                a(target="blank" href="https://t.me/exotown_ico") Join our Telegram channel
