// First
section#first.main
    header
        .container
            h2
                include exotown.pug
            p
                |  ...is a reptile breeding farm supported by a cryptocommunity.
                br
                | We specialize on selective breeding of pet reptiles and saving endangered species.
            footer
                //a.button.button-inverse(style="margin: 0 5px" href="/whitepaper.pdf" target="_blank") White paper
                a.button.scrolly(style="margin: 0 5px" href="#ico") Help us grow!