// Footer
style.
    .social-icon {
        display: inline-block;
        margin: 4px;
    }
    .social-icon a {
        text-decoration: none;
        border: none;
        /*border-radius: 50%;*/
        width: 42px;
        height: 42px;
        display: inline-block;
        line-height: 42px;
        font-size: 26px;
        padding: 0;
        color: #fff;
        background-size: 36px;
    }

    .si-twitter {
        background: url('/images/icons/twitter.png') no-repeat center;
    }
    .si-facebook {
        background: url('/images/icons/facebook.png') no-repeat center;
    }
    .si-instagram {
        background: url('/images/icons/instagram.png') no-repeat center;
    }
    .si-github {
        background: url('/images/icons/github.png') no-repeat center;
    }
    .si-medium {
        background: url('/images/icons/medium.png') no-repeat center;
    }
    .si-telegram {
        background: url('/images/icons/telegram.png') no-repeat center;
    }
    .si-bitcoin {
        background: url('/images/icons/bitcoin.png') no-repeat center;
    }

section#footer
    ul
        li.social-icon
            a.icon.si-telegram(target="_blank" href='https://t.me/exotown_ico')
                span.label Telegram
        //li.social-icon
            a.icon.si-twitter(target="_blank" href='#')
                span.label Twitter
        li.social-icon
            a.icon.si-facebook(target="_blank" href='https://www.facebook.com/exotownfriends/')
                span.label Facebook
        li.social-icon
            a.icon.si-instagram(target="_blank" href='https://instagram.com/vihtorimallat')
                span.label Instagram
        li.social-icon
            a.icon.si-github(target="_blank" href='https://github.com/ExoTown')
                span.label GitHub
        //li.social-icon
            a.icon.si-medium(target="_blank" href='#')
                span.label Medium
        //li.social-icon
            a.icon.si-bitcoin(target="_blank" href='#')
                span.label BitcoinTalk

    .copyright
        ul.menu
            li ©
                |
                |
                include exotown.pug
