// Fourth
section#fourth.main
    header
        .container
            h2 Sed feugiat ipsum consequat
            p
                | Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit amet consequat
                br
                | 						feugiat. Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit amet.
    .content.style4.featured
        .container(class='75%')
            form(method='post', action='#')
                .row(class='50%')
                    div(class='6u 12u(mobile)')
                        input(type='text', placeholder='Name')
                    div(class='6u 12u(mobile)')
                        input(type='text', placeholder='Email')
                .row(class='50%')
                    div(class='12u')
                        textarea(name='message', placeholder='Message')
                .row
                    div(class='12u')
                        ul.actions
                            li
                                input.button(type='submit', value='Send Message')
                            li
                                input.button.alt(type='reset', value='Clear Form')
