// Header
section#header.dark.transition-default.op0(data-onscroll="true" data-class-remove="op0 scale120")
    header
        img.header-logo(src="images/exotown_logo_white.png")
        //-h1
            include exotown.pug
        p
            | We're creating a reptile breeding program.
            br
            include header/crowdsale_status.pug

    footer
        a.button.scrolly.ym-learn-more(href='#first') Learn more