// Header
section#header.dark.transition-default.op0(data-onscroll="true" data-class-remove="op0 scale120")
    header
        h1
            include exotown.pug
        p
            | We're building a reptile breeding farm.
            br
            include header/crowdsale_status.pug

    footer
        a.button.scrolly(href='#first') Learn more