style.
    .table-history {

    }
    .table-history tr td {
        width: 50%;
        padding: 10px 20px;
    }
    .table-history tr td:first-of-type {
        text-align: right;
    }

table.table-history
    tr.transition-default.op0.scale120(data-onscroll="true" data-class-remove="op0 scale120")
        td July 2017
        td The idea was born
    tr.transition-default.op0.scale120(data-onscroll="true" data-class-remove="op0 scale120")
        td August—October 2017
        td Forming the team
    tr.transition-default.op0.scale120(data-onscroll="true" data-class-remove="op0 scale120")
        td October 2017
        td First animals arrived
    tr.transition-default.op0.scale120(data-onscroll="true" data-class-remove="op0 scale120")
        td November 2017
        td Crowdsale start
    tr.transition-default.op0.scale120(data-onscroll="true" data-class-remove="op0 scale120")
        td December 2017
        td Move to a new place
    tr.transition-default.op0.scale120(data-onscroll="true" data-class-remove="op0 scale120")
        td January 2018
        td ExoTown TV pilot
    tr.transition-default.op0.scale120(data-onscroll="true" data-class-remove="op0 scale120")
        td 2Q 2018
        td Running a marketplace,
            br
            | forum, and encyclopedia
    tr.transition-default.op0.scale120(data-onscroll="true" data-class-remove="op0 scale120")
        td 3Q-4Q 2018
        td Selling first breeded animals
    tr.transition-default.op0.scale120(data-onscroll="true" data-class-remove="op0 scale120")
        td 2019
        td Building showroom

