style.
    .table-history {

    }
    .table-history tr td {
        width: 50%;
        padding: 10px 20px;
        border: none;
    }
    .table-history tr td:first-of-type {
        text-align: right;
    }

    .progress-splitter {
        width: 0px !important;
        padding: 0 2px !important;
        background: rgba(88, 205, 88, 0.2);
    }

    .progress-splitter--reached {
        background: rgb(88, 205, 88);
    }


table.table-history
    tr.reached.transition-default.op0.scale120(data-onscroll="true" data-class-remove="op0 scale120")
        td July 2017
        td.progress-splitter.progress-splitter--reached
        td The idea was born
    tr.reached.transition-default.op0.scale120(data-onscroll="true" data-class-remove="op0 scale120")
        td August—October 2017
        td.progress-splitter.progress-splitter--reached
        td Formation of the team
    tr.reached.transition-default.op0.scale120(data-onscroll="true" data-class-remove="op0 scale120")
        td October 2017
        td.progress-splitter.progress-splitter--reached
        td First animals arriving
    tr.transition-default.op0.scale120(data-onscroll="true" data-class-remove="op0 scale120")
        td November 2017
        td.progress-splitter
        td Crowdsale launch
    tr.transition-default.op0.scale120(data-onscroll="true" data-class-remove="op0 scale120")
        td December 2017
        td.progress-splitter
        td Accomodation in a new place
    tr.transition-default.op0.scale120(data-onscroll="true" data-class-remove="op0 scale120")
        td January 2018
        td.progress-splitter
        td ExoTown TV launch.
            br
            | Starting development of
            br
            | ExoTown Market, KnowYourSnake.
    tr.transition-default.op0.scale120(data-onscroll="true" data-class-remove="op0 scale120")
        td March 2018
        td.progress-splitter
        td Crowdsale end.
            br
            | ExoTown Market launch.
            br
            | Listing on exchanges
    tr.transition-default.op0.scale120(data-onscroll="true" data-class-remove="op0 scale120")
        td 2Q 2018
        td.progress-splitter
        td KnowYourSnake launch
    tr.transition-default.op0.scale120(data-onscroll="true" data-class-remove="op0 scale120")
        td 3Q-4Q 2018
        td.progress-splitter
        td Selling first breeded animals
    tr.transition-default.op0.scale120(data-onscroll="true" data-class-remove="op0 scale120")
        td 2H 2019—1H 2020
        td.progress-splitter
        td Starting buyback
    tr.transition-default.op0.scale120(data-onscroll="true" data-class-remove="op0 scale120")
        td 2022
        td.progress-splitter
        td $1M annual profit

