style.
    .table-history {

    }
    .table-history tr td {
        width: 50%;
        padding: 10px 20px;
    }
    .table-history tr td:first-of-type {
        text-align: right;
    }

table.table-history
    tr
        td July 2017
        td The idea was born
    tr
        td August—October 2017
        td Forming the team
    tr
        td October 2017
        td First animals arrived
    tr
        td November 2017
        td Crowdsale start
    tr
        td December 2017
        td Move to a new place
    tr
        td January 2018
        td ExoTown TV pilot
    tr
        td 2Q 2018
        td Running a marketplace,
            br
            | forum, and encyclopedia
    tr
        td 3Q-4Q 2018
        td Selling first breeded animals
    tr
        td 2019
        td Creating showroom
            br
            |

