// Third
section#third.main
    header
        .container
            h2 Ornare varius lorem ipsum ante lectus
            p
                | Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit amet consequat
                br
                | 						feugiat. Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit amet.
    .content.dark.style3
        .container
            span.image.featured
                img(src='images/pic07.jpg', alt='')
            .row
                div(class='4u 12u(narrow)')
                    h3 Diam vivamus turpis lorem sodales lectus ornare
                    p
                        | Gravida dis placerat lectus ante vel nunc euismod est turpis sodales. Diam
                        | tempor dui lacinia eget ornare varius gravida. Gravida dis placerat lectus ante
                        | vel nunc euismod est turpis sodales. Diam tempor dui lacinia accumsan vivamus
                        | augue cubilia vivamus nisi eu eget ornare varius gravida euismod.  Gravida dis
                        | lorem ipsum dolor placerat magna tempus feugiat.
                    p
                        | Lectus ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia
                        | accumsan vivamus augue cubilia vivamus nisi eu eget ornare varius gravida dolore
                        | euismod lorem ipsum dolor sit amet consequat. vivamus nisi eu eget ornare varius
                        | gravida dolore euismod lorem ipsum dolor sit amet consequat. vivamus nisi eu
                        | eget ornare et magna.
                div(class='4u 12u(narrow)')
                    p
                        | Gravida dis placerat lectus ante vel nunc euismod est turpis sodales. Diam
                        | tempor dui lacinia eget ornare varius gravida. Gravida dis placerat lectus ante
                        | vel nunc euismod est turpis sodales. Diam tempor dui lacinia accumsan vivamus
                        | augue cubilia vivamus nisi eu eget ornare varius gravida euismod.  Gravida dis
                        | lorem ipsum dolor placerat magna tempus feugiat.
                    p
                        | Lectus ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia
                        | accumsan vivamus augue cubilia vivamus nisi eu eget ornare varius gravida dolore
                        | euismod lorem ipsum dolor sit amet consequat eget ornare varius gravida euismod.
                        | Gravida dis lorem ipsum dolor placerat magna tempus feugiat magna tempus lorem.
                    p
                        | Lectus ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia
                        | accumsan vivamus augue cubilia.
                div(class='4u 12u(narrow)')
                    p
                        | Placerat lectus ante vel nunc euismod est turpis sodales. Diam tempor dui
                        | lacinia eget ornare varius gravida. Gravida dis placerat lectus ante vel nunc
                        | euismod est turpis sodales. Diam tempor dui lacinia accumsan vivamus augue
                        | cubilia vivamus nisi eu eget ornare varius gravida euismod.  Gravida dis
                        | lorem ipsum dolor placerat magna tempus feugiat. Lectus ante vel nunc euismod
                        | est turpis sodales. Diam tempor dui lacinia dolore.
                    p
                        | Accumsan vivamus augue cubilia vivamus nisi eu eget ornare varius gravida
                        | dolore euismod lorem ipsum dolor sit amet conseismod lorem ipsum dolor sit amet
                        | consequat lorem ipsum consequat feugiat sed tempus euismod feugiat veroeros.
                    footer
                        a.button.scrolly(href='#fourth') Ipsum ornare lorem dolor
