section#token-sale.main
    .content.dark.style1
        .container
            .row
                div(class='8u 12u(narrow)')
                    include offering-terms.pug

                div(class='4u 12u(narrow)')#ico
                    include ico.pug
