case ICOSTATUS.CURRENT
    when ICOSTATUS.BEFORE_PRIVATE
        | Private sale starts November 26th.
    when ICOSTATUS.PRIVATE
        | Private sale is live.
    when ICOSTATUS.BEFORE_PRE
        | Pre-sale starts December 2nd.
    when ICOSTATUS.PRE
        | Pre-sale is live.
    when ICOSTATUS.BEFORE_PUBLIC
        | Public crowdsale starts January 19th.
    when ICOSTATUS.PUBLIC
        | Public crowdsale is live.
    when ICOSTATUS.AFTER
        | Crowdsale is finished.


